.header {
  height: 56px;
  background-color: var(--hi-primary);
  border-bottom: 1px solid var(--mantine-color-gray-3);


  .logo {
    display: flex;
    align-items: center;
    img {
      max-width: 120px;
      max-height: 36px;
      object-fit: contain;
    }
  }
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
